
.dark-mode {
  background-color: #1f1f1f;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  /* background-color: #F53181; */
  color: #fff;
  .el-button {
    background-color: #333;
    color: #fff;
  }
  .el-input {
    background-color: #333;
    color: #fff;
  }}

.light-mode {
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}